
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin Paneli</title>
	<link rel="icon" type="image/x-icon" href="/startbootstrap-resume-gh-pages/assets/img/yk.ico" />
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width" , initial-scale="1">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="/AdminLTE-3.0.4/dist/css/adminlte.min.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-md navbar-blue" style="background-color: #F4F6F9;">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
			</ul>
		</nav>
		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-blue elevation-4">
			<!-- Brand Logo -->
			<a href="/Default/Index/" class="brand-link">
				<img src="~/AdminLTE-3.0.4/dist/img/logs.png"
					 alt="AdminLTE Logo"
					 class="brand-image img-circle elevation-3"
					 style="opacity: .8">
				<span class="brand-text font-weight-light">yusufkaradeniz.com</span>
			</a>
			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user (optional) -->
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">
					<div class="image">
					
							<img src="/AdminLTE-3.0.4/dist/img/logs.png" class="img-circle elevation-2" alt="User Image">
					</div>
					<div class="info">
						<a href="#" class="d-block">Admin Paneli</a>
					</div>
				</div>
				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
	with font-awesome or any other icon font library -->
						<li class="nav-item has-treeview">
							<a href="/Hakkimda/Index" class="nav-link">
								<i class="nav-icon fas fa-tachometer-alt" style="color: #FBCEB1;"></i>
								<p>
									Hakkımda

								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/Egitim/Index/" class="nav-link">
								<i class="nav-icon fas fa-graduation-cap" style="color: #FA8072; "></i>
								<p>
									Eğitimlerim
								</p>
							</a>
						</li>
						<li class="nav-item has-treeview">
							<a href="/Deneyim/Index/" class="nav-link">
								<i class="nav-icon fas fa-copy" style="color: #E9967A; "></i>
								<p>
									Deneyimlerim
								</p>
							</a>

						</li>
						<li class="nav-item has-treeview">
							<a href="/Hobi/Index" class="nav-link">
								<i class="nav-icon fas fa-puzzle-piece" style="color: #FFA07A; "></i>
								<p>
									Hobilerim
								</p>
							</a>

						</li>
						<li class="nav-item">
							<a href="/Yetenek/Index/" class="nav-link">
								<i class="nav-icon fas fa-laptop-code" style="color: #F08080; "></i>
								<p>
									Yeteneklerim
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/Sertifika/Index/" class="nav-link">
								<i class="nav-icon fas fa-certificate" style="color: #CD5C5C; "></i>
								<p>
									Sertifikalarım
								</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="/SosyalMedya/index" class="nav-link">
								<i class="nav-icon 	fas fa-icons" style="color: whitesmoke; "></i>
								<p>
									Hakkımdaki ikonlar
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/iletisim/index" class="nav-link">
								<i class="nav-icon fas fa-mail-bulk" style="color: #F2D2BD; "></i>
								<p>
									İletişim
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/Admin/Index" class="nav-link">
								<i class="nav-icon fas fa-dharmachakra" style="color: wheat; "></i>
								<p>
									Ayarlar
								</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="/Login/LogOut" class="nav-link">
								<i class="nav-icon far fa-window-close" style="color: red; "></i>
								<p>
									Çıkış
								</p>
							</a>
						</li>

					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						@RenderBody()

					</div>


				</div>

			</section>

			<!-- /.content -->
		</div>

	</div>
	<!-- ./wrapper -->
	<!-- jQuery -->
	<script src="/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>